<nav class="navbar navbar-inverse navbar-fixed-top row">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="home" class="navbar-brand">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Self<span id="selfLogo">Started</span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a ui-sref="profile">Profile</a></li>
                <li><a ui-sref="dashboard">Dashboard</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="projectsContent">
        <h1>Projects</h1>

        <br>

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="My Projects">
                <div class="row projectsList">
                    <div>
                        <button ng-click="ProjectsPageVM.filterDeleted()" class="btn btn-primary btn-lg">Deleted</button>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <uib-accordion ng-repeat="project in ProjectsPageVM.projects[0] | filter:ProjectsPageVM.filter">
                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading>
                                    {{project.projectName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </uib-accordion-heading>
<!--                                 <p>Project Description: {{project.projectDescription}}</p>
                                <p>Start date: {{project.projectStartDate | date}}</p>
                                <p>End date: {{project.projectEndDate | date}}</p>
                                <p>Location: {{project.projectLocation}}</p>
                                <p>Main College: {{project.projectCategoryByCollege}}</p>
                                <p>Sub College: {{project.projectCategoryByProgram}}</p>
                                <p>Project Skills: {{project.otherSkillsDesired}}</p> -->
                                <table class="table table-bordered">
                                    <tr class="success">
                                      <th>Project Description</th>
                                      <td>{{project.projectDescription}}</td>
                                    </tr>
                                    <tr>
                                       <th>Start Date</th>
                                       <td>{{project.projectStartDate | date:"MM/dd/yyyy"}}</td>
                                    </tr>
                                    <tr class="success">
                                        <th>End Date</th>
                                        <td>{{project.projectEndDate | date:"MM/dd/yyyy"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>{{project.projectLocation}}</td>
                                    </tr>
                                    <tr class="success">
                                        <th>College</th>
                                        <td>{{project.projectCategoryByCollege}}</td>
                                    </tr>
                                    <tr>
                                        <th>Major</th>
                                        <td>{{project.projectCategoryByProgram}}</td>
                                    </tr>
                                    <tr class="success">
                                        <th>Skills</th>
                                        <td>{{project.otherSkillsDesired}}</td>
                                    </tr>
                                </table>

                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Member of Projects">
                <uib-accordion ng-repeat="project in ProjectsPageVM.projects[1]">
                    <div uib-accordion-group class="panel-default" is-open="status.open">
                        <uib-accordion-heading>
                            {{project.projectName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
<!--                         <p>Project Description: {{project.projectDescription}}</p>
                        <p>Start date: {{project.projectStartDate | date}}</p>
                        <p>End date: {{project.projectEndDate | date}}</p>
                        <p>Location: {{project.projectLocation}}</p>
                        <p>Main College: {{project.projectCategoryByCollege}}</p>
                        <p>Sub College: {{project.projectCategoryByProgram}}</p>
                        <p>Project Skills: {{project.otherSkillsDesired}}</p> -->
                        <table class="table table-bordered">
                            <tr class="success">
                              <th>Project Description</th>
                              <td>{{project.projectDescription}}</td>
                            </tr>
                            <tr>
                               <th>Start Date</th>
                               <td>{{project.projectStartDate | date:"MM/dd/yyyy"}}</td>
                            </tr>
                            <tr class="success">
                                <th>End Date</th>
                                <td>{{project.projectEndDate | date:"MM/dd/yyyy"}}</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>{{project.projectLocation}}</td>
                            </tr>
                            <tr class="success">
                                <th>College</th>
                                <td>{{project.projectCategoryByCollege}}</td>
                            </tr>
                            <tr>
                                <th>Major</th>
                                <td>{{project.projectCategoryByProgram}}</td>
                            </tr>
                            <tr class="success">
                                <th>Skills</th>
                                <td>{{project.otherSkillsDesired}}</td>
                            </tr>
                        </table>

                    </div>
                </uib-accordion>
            </uib-tab>
            <uib-tab index="2" heading="Pending membership Projects">
                <uib-accordion ng-repeat="project in ProjectsPageVM.projects[2]">
                    <div uib-accordion-group class="panel-default" is-open="status.open">
                        <uib-accordion-heading>
                            {{project.projectName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
<!--                         <p>Project Description: {{project.projectDescription}}</p>
                        <p>Start date: {{project.projectStartDate | date}}</p>
                        <p>End date: {{project.projectEndDate | date}}</p>
                        <p>Location: {{project.projectLocation}}</p>
                        <p>Main College: {{project.projectCategoryByCollege}}</p>
                        <p>Sub College: {{project.projectCategoryByProgram}}</p>
                        <p>Project Skills: {{project.otherSkillsDesired}}</p> -->
                        <table class="table table-bordered">
                            <tr class="success">
                              <th>Project Description</th>
                              <td>{{project.projectDescription}}</td>
                            </tr>
                            <tr>
                               <th>Start Date</th>
                               <td>{{project.projectStartDate | date:"MM/dd/yyyy"}}</td>
                            </tr>
                            <tr class="success">
                                <th>End Date</th>
                                <td>{{project.projectEndDate | date:"MM/dd/yyyy"}}</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>{{project.projectLocation}}</td>
                            </tr>
                            <tr class="success">
                                <th>College</th>
                                <td>{{project.projectCategoryByCollege}}</td>
                            </tr>
                            <tr>
                                <th>Major</th>
                                <td>{{project.projectCategoryByProgram}}</td>
                            </tr>
                            <tr class="success">
                                <th>Skills</th>
                                <td>{{project.otherSkillsDesired}}</td>
                            </tr>
                        </table>

                    </div>
                </uib-accordion>
            </uib-tab>
            <uib-tab index="3" heading="Project invites">
            <uib-accordion ng-repeat="project in ProjectsPageVM.projects[3]">
                <div uib-accordion-group class="panel-default" is-open="status.open">
                    <uib-accordion-heading>
                        {{project.projectName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
<!--                     <p>Project Description: {{project.projectDescription}}</p>
                    <p>Start date: {{project.projectStartDate | date}}</p>
                    <p>End date: {{project.projectEndDate | date}}</p>
                    <p>Location: {{project.projectLocation}}</p>
                    <p>Main College: {{project.projectCategoryByCollege}}</p>
                    <p>Sub College: {{project.projectCategoryByProgram}}</p>
                    <p>Project Skills: {{project.otherSkillsDesired}}</p> -->
                    <table class="table table-bordered">
                        <tr class="success">
                          <th>Project Description</th>
                          <td>{{project.projectDescription}}</td>
                        </tr>
                        <tr>
                           <th>Start Date</th>
                           <td>{{project.projectStartDate | date:"MM/dd/yyyy"}}</td>
                        </tr>
                        <tr class="success">
                            <th>End Date</th>
                            <td>{{project.projectEndDate | date:"MM/dd/yyyy"}}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{project.projectLocation}}</td>
                        </tr>
                        <tr class="success">
                            <th>College</th>
                            <td>{{project.projectCategoryByCollege}}</td>
                        </tr>
                        <tr>
                            <th>Major</th>
                            <td>{{project.projectCategoryByProgram}}</td>
                        </tr>
                        <tr class="success">
                            <th>Skills</th>
                            <td>{{project.otherSkillsDesired}}</td>
                        </tr>
                    </table>

                    <button ng-click="ProjectsPageVM.acceptProjectInvite(project._id)" type="button">Accept invite</button>
                    <button ng-click="ProjectsPageVM.denyProjectInvite(project._id)" type="button">Deny invite</button>
                </div>
            </uib-accordion>
        </uib-tabset>
    </div>
</div>