<div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>{{user.firstName}} {{user.lastName}}'s Profile</h4>
    </div>
    <div class="modal-body">
        <div class="row container-fluid">
            <div class="col-sm-4">
                <a href="{{user.url}}" target="_blank"><img style="width:100px;height:auto;" ng-src="{{user.photo}}" alt="user photo"></a>
            </div>
            <div class="col-sm-4">
                <h2>About Me</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h4>Location:</h4>
                <p>{{user.location}}</p>
            </div>
            <div class="col-sm-4">
                <h4>Work Locally:</h4>
                <p class="text-capitalize">{{user.local}}</p>
            </div>
            <div class="col-sm-4">
                <h4>Work Remotely:</h4>
                <p class="text-capitalize">{{user.remote}}</p>
            </div>
        </div>
    </div>

    <hr>

    <h3 class="text-center">Send Message</h3>

    <form class="row col-sm-12" name="nestedForm" ng-submit="ok()">
      <div class="form-group">

        <div class="row container-fluid">
            <div class="col-sm-5">
            <input 

                ng-model="subjectUser"
                type="text" 
                class="form-control" 
                required 
                placeholder="Subject">

            </div>
        </div>


        <div class="row container-fluid">
            <div class="col-sm-12">
                <textarea 

                    ng-model="messageUser" 
                    class="form-control" 
                    placeholder="Message" 
                    aria-placeholder="Message"
                    required 
                    rows="6">
                        
                </textarea>
            </div>
        </div>

    </div>

    <div class="row container-fluid">
    
      <div class="col-sm-6 center-block">

        <button 

            type="submit" 
            class="btn btn-success" >

            Send Message

        </button>
      </div>
    </form>
        <div class="col-sm-6 ">
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    

    <div class="modal-footer">

    </div>
</div>