    /*
        color pallete for site
        #1A1F2B darkest color for title bars and main features
        #30395C secondary color for secondary features and menu items
        #4A6491 third color for minor features and highlights
        #85A5CC accent color dark
        #D0E4F2 accent color light
        black and white for text throughout
        darkgrey for body text
        lightgrey for body background
        white for widget backgrounds
    */
    
    html, body {
        height: 100% !important;
        color: darkgray;
    }
    /* landing page CSS */
    /* ----------------------------------------------- */
    
    .landingCarousel {
        margin-top: 8%;
    }
    
    .landingFooter {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #1A1F2B !important;
        padding-top: 20px;
        padding-left: 80px;
    }
    
    .text-muted {
        color: white;
    }
    /* Dashboard top nav bar */
    /* ----------------------------------------------- */
    
    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 2em;
        padding-bottom: 40px;
    }
    
    .navbar-fixed-top {
        border: 0;
        background-color: #1A1F2B;
    }
    
    #selfLogo {
        color: #85A5CC;
    }
    /* Dashboard Sidebar css */
    /* ----------------------------------------------- */
    /* Hide for mobile, show later */
    
    .sidebar {
        display: none;
    }
    
    @media (min-width: 768px) {
        .sidebar {
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            /* Scrollable contents if viewport is shorter than content. */
            background-color: #1A1F2B;
            border-right: 1px solid #eee;
        }
    }
    
    @media (max-width: 768px) {
        .sidebar {
            background-color: #1A1F2B;
            margin-top: 50px;
        }
    }
    /* Sidebar navigation */
    
    .img-circle {
        border-radius: 100%;
        width: 40px;
        height: 40px;
    }
    
    .nav-sidebar {
        margin-right: -21px;
        /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
    }
    
    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
        color: lightgray;
    }
    
    .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #4A6491;
    }
    
    .nav-sidebar > li > a:hover {
        background-color: #D0E4F2;
        color: black;
    }
    /* Dashboard Main content */
    /* ----------------------------------------------- */
    
    .main {
        margin-top: 6%;
        padding: 20px;
    }
    
    .tabBar a {
        background-color: #30395C;
        color: white;
    }
    
    @media (min-width: 768px) {
        .main {
            padding-right: 40px;
            padding-left: 40px;
        }
    }
    /* create a project form */
    /* ----------------------------------------------- */
    
    .projectForm {
        padding-bottom: 1.5em !important;
        background-color: #24323d;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    /*.projectForm form {
        margin: 0 auto;
        margin-top: 20px;
    }*/
    
    .projectForm .row {
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .projectForm input {
        border: 0;
        border-bottom: 2px solid lightgray;
        background-color: transparent;
        border-radius: 0;
        color: white;
        padding: 1.5em;
    }
    
    .projectForm textarea {
        border: 0;
        border-bottom: 2px solid lightgray;
        background-color: transparent;
        border-radius: 0;
        color: white;
    }
    /*  select drop down box styles */
    
    .styled-select {
        height: 2.5em;
    }
    
    .styled-select select {
        background: transparent;
        border: none;
    }
    
    .dropBoxClear {
        background-color: transparent;
    }
    
    .semi-square {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: 0;
        border-bottom: 1px solid grey;
    }
    /* end of select drop down*/
    /* buttons and date picker styles */
    
    .projectForm .btn-primary {
        border-radius: 0 !important;
        background-color: #1ab188;
        color: white;
    }
    
    .projectForm .btn-primary:hover {
        color: #fff;
        background-color: #85A5CC;
        border-color: #2e6da4;
    }
    
    .projectForm .btn-primary.active {
        color: #fff;
        background-color: #30395C;
        border-color: #D0E4F2;
    }
    
    .projectForm button {
        border-radius: 0 !important;
        background-color: #1ab188;
    }
    
    .formButton {
        margin-top: 20px;
    }
    
    .projectForm .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
        background-color: lightgray;
    }
    
    .projectForm pre {
        background-color: #1ab188;
        color: white;
    }
    /* end of buttons and date picker */
    /* end of create a project */
    /* ----------------------------------------------- */

/*tooltips related class work*/
.tooltip.tooltipsclass .tooltip-inner {
    color: #000000;
    background-color: #f0f0f0;
    box-shadow: 0 6px 12px rgba(0,0,0,.5);
}

.tooltip.customClass .tooltip-arrow {
    display: none;
}
/*end of tooltips class work*/