    /*
        color pallete for site
        #1A1F2B darkest color for title bars and main features
        #30395C secondary color for secondary features and menu items
        #4A6491 third color for minor features and highlights
        #85A5CC accent color dark
        #D0E4F2 accent color light
        black and white for text throughout
        darkgrey for body text
        lightgrey for body background
        white for widget backgrounds
    */
    
    html, body {
        height: 100% !important;
        color: darkgray;
    }
    /* top nav bar */
    /* ----------------------------------------------- */
    
    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 2em;
    }
    
    .navbar-fixed-top {
        border: 0;
        background-color: #1A1F2B;
    }
    
    #selfLogo {
        color: #85A5CC;
    }
    /* Sidebar css */
    /* ----------------------------------------------- */
    /* Hide for mobile, show later */
    
    .sidebar {
        display: none;
    }
    
    @media (min-width: 768px) {
        .sidebar {
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            /* Scrollable contents if viewport is shorter than content. */
            background-color: #1A1F2B;
            border-right: 1px solid #eee;
        }
    }
    /* Sidebar navigation */
    
    .nav-sidebar {
        margin-right: -21px;
        /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
    }
    
    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
        color: lightgray;
    }
    /* commenting out for use for later maybe */
    /*.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }*/
    /* Main content */
    /* ----------------------------------------------- */
    
    .main {
        padding: 20px;
    }
    
    .tabBar a {
        background-color: #30395C;
        color: white;
    }
    
    @media (min-width: 768px) {
        .main {
            padding-right: 40px;
            padding-left: 40px;
        }
    }