<div class="container-fluid col-sm-12 col-md-10 projectForm">
  <div class="row">
    <form class="col-sm-12" role="search" ng-submit="submit()">

      <!-- will add user search later -->
      <!--<input type="text" class="form-control" required ng-model="user" placeholder="User Name" />-->
      <div class="row">
        <input type="text" class="col-sm-12" ng-model="title" placeholder="Title" />
        <input type="text" class="col-sm-12" ng-model="location" placeholder="location" />
      </div>

      <br>

      <div class="row">
        <select class="styled-select dropBoxClear semi-square" data-ng-model="mainCollege" data-ng-change="changeSubCollege()" data-ng-options="college as college for college  in colleges">
        <option value="">College</option>
      </select>

        <select class="styled-select dropBoxClear semi-square" data-ng-model="subCollege" data-ng-options="subcollege for subcollege in subcolleges">
        <option value="">Sub College</option>
      </select>
      </div>

      <br>
      <div class="row">
        <button type="submit" class="col-sm-4 col-md-offset-4 btn btn-primary">
            Search
      </button>
      </div>
    </form>
</div>

  <div class="row">
    <div ng-repeat="project in projects">
      <br>

      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
          <uib-accordion-heading>
            {{project.projectName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>

          <p>Project Description: {{project.projectDescription}}</p>
          <p>Start date: {{project.projectStartDate | date:"MM/dd/yyyy"}}</p>
          <p>End date: {{project.projectEndDate | date:"MM/dd/yyyy"}}</p>
          <p>Location: {{project.projectLocation}}</p>
          <p>Main College: {{project.projectCategoryByCollege}}</p>
          <p>Sub College: {{project.projectCategoryByProgram}}</p>
          <p>Project Skills: {{project.otherSkillsDesired}}</p>
          <br>
          <button class="btn btn-primary" ng-click="joinProject(project._id)">Request to Join</button>
        </div>
      </uib-accordion>
    </div>
  </div>

</div>