<form class="navbar-form navbar-left" role="search">

  <!-- will add user search later -->
  <!--<input type="text" class="form-control" required ng-model="user" placeholder="User Name" />-->

  <input type="text" class="form-control" required ng-model="title" placeholder="Title" />

  <input type="text" class="form-control" required ng-model="location" placeholder="location" />

  <select data-ng-model="mainCollege" data-ng-change="changeSubCollege()" data-ng-options="college as college for college  in colleges"></select>

  <select data-ng-model="subCollege" data-ng-options="subcollege for subcollege in subcolleges"></select>

  <button type="button" class="btn btn-primary" ng-click="submit()">
        Search
  </button>

</form>
<br>
<br>
<br>
<div ng-repeat="project in projects">
    <br>
   
    <uib-accordion close-others="oneAtATime">
      <div uib-accordion-group class="panel-default" is-open="status.open">
        <uib-accordion-heading>
         {{project.projectName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        
        <p>Project Description: {{project.projectDescription}}</p>
        <p>Start date: {{project.projectStartDate |  date:"MM/dd/yyyy"}}</p>
        <p>End date: {{project.projectEndDate | date:"MM/dd/yyyy"}}</p>
        <p>Location: {{project.projectLocation}}</p>
        <p>Main College: {{project.projectCategoryByCollege}}</p>
        <p>Sub College: {{project.projectCategoryByProgram}}</p>
        <p>Project Skills: {{project.otherSkillsDesired}}</p>
        <br>
        <button ng-click="joinProject(project._id)">Request to Join</button>
      </div>
    </uib-accordion>
</div>