<div class="wrapper">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="home" class="navbar-brand">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Self<span id="selfLogo">Started</span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a ui-sref="dashboard">Back to Dashboard</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container profilePage">
    <div class="row">
        <div class="toppad col-sm-12">
            <form ng-submit="ProfilePageVM.saveChanges()">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ProfilePageVM.user.firstName}} {{ProfilePageVM.user.lastName}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">
                                <img alt="User Pic" ng-src="{{ProfilePageVM.user.photo}}">
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Joined:</td>
                                            <td>{{ProfilePageVM.user.signUpDate | date}}</td>
                                        </tr>
                                        <!--<tr>-->
                                        <tr>
                                            <td>Location:</td>
                                            <td>{{ProfilePageVM.user.location}}</td>
                                        </tr>
                                        <tr ng-if="ProfilePageVM.edit">
                                            <td>(Edit) Location:</td>
                                            <td>
                                                <label for="location">Location</label><br>

                                                <select 

                                                  class="styled-select dropBoxClear semi-square" 
                                                  data-ng-model="ProfilePageVM.countryUser" 
                                                  data-ng-change="ProfilePageVM.changeState()" 
                                                  data-ng-options="country as country for country in countries">

                                                    <option value="">Country</option>

                                                </select> 

                                                <select 

                                                  class="styled-select dropBoxClear semi-square" 
                                                  data-ng-model="ProfilePageVM.stateUser"
                                                  data-ng-change="ProfilePageVM.changeCity()" 
                                                  data-ng-options="state for state in states">

                                                    <option value="">State</option>

                                                </select> 

                                                <select 

                                                  class="styled-select dropBoxClear semi-square" 
                                                  data-ng-model="ProfilePageVM.cityUser" 
                                                  data-ng-options="city for city in cities">

                                                    <option value="">Major City</option>

                                                </select> 

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>LinkedIn Profile:</td>
                                            <td><a ng-href="{{ProfilePageVM.user.url}}">{{ProfilePageVM.user.url}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>About Me:</td>
                                            <td>
                                                {{ProfilePageVM.user.description}}
                                            </td>
                                        </tr>
                                        <!-- text box that only shows up once user hits edit -->
                                        <tr ng-if="ProfilePageVM.edit">
                                            <td>(Edit) About Me:</td>
                                            <td>
                                                <textarea ng-model="ProfilePageVM.user.description" ng-value="ProfilePageVM.user.description" name="aboutMe" cols="60" rows="4"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Current School Name:</td>
                                            <td>{{ProfilePageVM.user.schoolName}}</td>
                                        </tr>
                                        <!-- text box that only shows up once user hits edit -->
                                        <tr ng-if="ProfilePageVM.edit">
                                            <td>(Edit) School Name:</td>
                                            <td>
                                                <input class="col-sm-12" ng-model="ProfilePageVM.user.schoolName" type="text" name="schoolName" value="ProfilePageVM.user.schoolName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Main College:<br> Major:
                                            </td>
                                            <td>
                                                {{ProfilePageVM.user.college}}<br> {{ProfilePageVM.user.major}}
                                            </td>
                                        </tr>
                                        <!-- Drop menu that only shows up once user hits edit -->
                                        <tr ng-if="ProfilePageVM.edit">
                                            <td>
                                                (Edit) Main College:<br> Major:
                                            </td>
                                            <td>
                                                <select 

                                                    class="styled-select dropBoxClear semi-square" 
                                                    data-ng-model="ProfilePageVM.mainCollege" 
                                                    data-ng-change="ProfilePageVM.changeSubCollege()"
                                                    data-ng-options="college for college in ProfilePageVM.colleges">

                                                    <option value="">College</option>

                                                </select>

                                                <select 

                                                    class="styled-select dropBoxClear semi-square" 
                                                    data-ng-model="ProfilePageVM.subCollege" 
                                                    data-ng-change="ProfilePageVM.changeSubCollege()"
                                                    data-ng-options="subcollege for subcollege in ProfilePageVM.subcolleges">

                                                    <option value="">Program</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <!--</tr>-->
                                        <tr class="projectForm">
                                            <th>Work Preference</th>
                                            <td>
                                                <h5>Work locally</h5>
                                                <span ng-if="ProfilePageVM.user.local">Yes</span><span ng-if="!ProfilePageVM.user.local">No</span>
                                                <!-- radio buttons that only shows up once user hits edit -->
                                                <span ng-if="ProfilePageVM.edit">
                                                    <label ng-model="ProfilePageVM.user.local" class="btn btn-primary btn-sm" uib-btn-radio="true">Yes</label>
                                                    <label ng-model="ProfilePageVM.user.local" class="btn btn-primary btn-sm" uib-btn-radio="false">No </label>
                                                </span>
                                                <h5>Work Remote</h5>
                                                <span ng-if="ProfilePageVM.user.remote">Yes</span><span ng-if="!ProfilePageVM.user.remote">No</span>
                                                <!-- radio buttons that only shows up once user hits edit -->
                                                <span ng-if="ProfilePageVM.edit">
                                                    <label ng-model="ProfilePageVM.user.remote" class="btn btn-primary btn-sm"  uib-btn-radio="true">Yes</label>
                                                    <label ng-model="ProfilePageVM.user.remote" class="btn btn-primary btn-sm"  uib-btn-radio="false">No </label>
                                                </span>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer projectForm">
                        <a ng-click="ProfilePageVM.toggleEdit()" type="button" class="btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-check"></i> Edit Profile</a>
                        <span class="pull-right">
                        <button type="submit" class="btn btn-sm btn-success">
                            <i class="glyphicon glyphicon-edit"></i> Save Changes
                        </button>
                    </span>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
<!-- end of wrapper -->