<div class="container-fluid col-sm-12  col-md-10 projectForm">
  <form class="row col-sm-12" ng-submit="submit()" name="nestedForm">
    <div class="form-group">

      <!-- Project title and Description input boxes -->
      <div class="row">
        <div class="col-sm-12">
          <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="Enter a brief title that the project will be known by." tooltip-class="tooltipsclass"></i>
          <input placeholder="Title of Project" aria-placeholder="Title of Project" type="text" class="form-control" required ng-model="title"
          />
          <br>
          <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="Enter a detailed description of the project." tooltip-class="tooltipsclass"></i>
          <textarea rows="4" placeholder="Project Description" aria-placeholder="Project Description" class="form-control" required
            ng-model="description" />
        </div>
      </div>

      <br><br>

      <!-- location input -->
      <div class="row">
        <div class="col-sm-12">
          <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="Enter the primary location for the project. In most cases this will be your City and State." tooltip-class="tooltipsclass"></i>
          <input placeholder="Location" aria-placeholder="Location" type="text" class="form-control" required ng-model="location" />
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-12 btn-group">
          <h4>Remote Talent</h4> <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="Select 'Yes' to allow non-local project members. Select 'No' if all members must be local to the project location." tooltip-class="tooltipsclass"></i>
          <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'true'">Yes</label>
          <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'false'">No</label>
        </div>
      </div>

      <br><br>

      <!-- College and Subcollege drop downs-->
      <div class="row">
        <div class="col-sm-9">
          <label for="mainCollege">Select your college of study</label><br>
          <select class="styled-select dropBoxClear semi-square" data-ng-model="mainCollege" data-ng-change="changeSubCollege()" data-ng-options="college as college for college  in colleges">
              <option value="">College</option>
            </select> <i class="fa fa-question-circle   fa-lg" aria-hidden="true" uib-tooltip="Select the primary category of the project by college program." tooltip-class="tooltipsclass"></i>
          <select class="styled-select dropBoxClear semi-square" data-ng-model="subCollege" data-ng-options="subcollege for subcollege in subcolleges">
              <option value="">Program</option>
            </select> <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="Select the secondary category of the project by college program." tooltip-class="tooltipsclass"></i>
        </div>
      </div>



      <br><br>

      <!-- Date picker -->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="Select the approximate start date of the project." tooltip-class="tooltipsclass"></i>
          <h3>Start Date</h3>
          <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="startDate" class="well well-sm" datepicker-options="optionsStartDate" ng-click="dateRestrict()"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="Select the approximate end date of the project." tooltip-class="tooltipsclass"></i>
          <h3>End Date</h3>
          <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="endDate" class="well well-sm" datepicker-options="optionsEndDate"></div>
          </div>
        </div>
      </div>
      <!-- end of Date picker -->

      <br>

      <div class="row">
        <div class="col-sm-12">
          <input placeholder="Skills needed" aria-placeholder="Skills needed" type="text" class="form-control" required ng-model="skills"
          />
        </div>
        <i class="fa fa-question-circle  fa-lg" aria-hidden="true" uib-tooltip="List any additional skills that would be helpful for potential project members to possess." tooltip-class="tooltipsclass"></i>
      </div>

      <br>
      <br>

      <div class="col-sm-6 col-md-offset-4">
        <button type="submit" class="btn btn-primary btn-lg">
            Submit New Project
        </button>
      </div>

    </div>
  </form>

</div>