<div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>{{user.firstName}} {{user.lastName}}'s Profile</h4>
    </div>
    <div class="modal-body">
        <div class="row container-fluid">
            <div class="col-sm-4">
                <a href="{{user.url}}" target="_blank"><img ng-src="{{user.photo}}" alt="user photo"></a>
            </div>
            <div class="col-sm-4">
                <h2>About Me</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h4>Location:</h4>
                <p>{{user.location}}</p>
            </div>
            <div class="col-sm-4">
                <h4>Work Locally:</h4>
                <p>{{user.local}}</p>
            </div>
            <div class="col-sm-4">
                <h4>Work Remotely:</h4>
                <p>{{user.remote}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Okay</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>